<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-hyperscreen" 
version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>hyperscreen</name>
    <description>hyperscreen</description> 
    <license>MIT</license>
    <keywords>cordova,hyperscreen</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module name="hyperscreen" src="www/hyperscreen.js">
    <clobbers target="cordova.plugins.hyperscreen" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="hyperscreen">
                <param name="android-package" value="cordova-plugin-hyperscreen.hyperscreen" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/hyperscreen.java" target-dir="src/cordova-plugin-hyperscreen/hyperscreen" />
    </platform>
</plugin>